<template>
  <v-app>

    <Dialog />

    <v-navigation-drawer app v-model="drawer">
      <v-list rounded>
        <div class="image">
        </div>
        <v-list-item-title class="text-h6">
            Menus
        </v-list-item-title>
        <v-list-item v-for ="(item , index) in menus" :key ="`menu-` + index" :to="item.route" rounded  color="primary">
            <v-list-item-icon>
               <v-icon left>{{ item.icon}}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
               <v-list-item-title> {{ item.title }} </v-list-item-title>
            </v-list-item-content>
         </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app 
      style="
        background: rgb(30,136,229);
        background: linear-gradient(90deg, rgba(30,136,229,1) 0%, rgba(255,208,38,1) 50%, rgba(22,167,92,1) 100%);
      "
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" color="white"></v-app-bar-nav-icon>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-slide-x-transition leave-absolute>
          <router-view></router-view>
        </v-slide-x-transition>
      </v-container>
    </v-main>

    <v-footer app>
       @Pendataan Bansos | Vue.Js
    </v-footer>
</v-app>
</template>

<script>
  export default {
    name: "App",
    components: {
      Dialog : () => import(/* webpackChunkName: "about" */ './components/Dialog.vue')
    },
    data :  () => ({
      menus : [
        {title : 'Pendataan', icon : 'mdi-home', route : '/'},
      ],
      drawer : false,
    })
};
</script>

<style scoped>
  .image{
    width:200px;
    height:80px; 
    background-image: url("./assets/jdst.png");
    background-color: #cccccc;
    background-size: cover;
  }
</style>